.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 60px;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}
